# ignore raw and intermediate data
__pycache__/
data/processed/
data/external/backbone
data/raw/
data/interim
src/data/__pycache__/
.ipynb_checkpoints
reports/.ipynb_checkpoints
data_backup/
src/demand/BACKUP/
.RData
.RHistory
data/external/redlist_species_data_europe_taxonomy_needed_oct_15/
Exploration.ipynb
reports/.ipynb_checkpoints/2 Articles-checkpoint.ipynb
reports/.ipynb_checkpoints/summary-checkpoint.ipynb
src/data/.ipynb_checkpoints/Exploration-checkpoint.ipynb
src/visualization/.ipynb_checkpoints/Exploration visualizations-checkpoint.ipynb
reports/.ipynb_checkpoints/summary-checkpoint.ipynb
